In [13]:
import pandas as pd
import requests

In [14]:
requisicao = requests.get("https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2023_-_S%C3%A9rie_A")

tabelas = pd.read_html(requisicao.text)
tabela_classificacao = tabelas[6]
tabela_jogos = tabelas[7]
display(tabela_classificacao)
display(tabela_jogos)

C:\Users\Bruno\AppData\Local\Temp\ipykernel_6184\146892266.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(requisicao.text)

,Pos,Equipevde,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Palmeiras (Q),69,37,20,9,8,63,32,+31,Fase de grupos da Copa Libertadores de 2024
1,2,Atlético Mineiro (T),66,37,19,9,9,51,28,+23,Fase de grupos da Copa Libertadores de 2024
2,3,Flamengo (T),66,37,19,9,9,56,41,+15,Fase de grupos da Copa Libertadores de 2024
3,4,Grêmio (T),65,37,20,5,12,60,54,+6,Fase de grupos da Copa Libertadores de 2024
4,5,Botafogo (T),64,37,18,10,9,57,34,+23,Segunda fase da Copa Libertadores de 2024
5,6,Red Bull Bragantino (Q),62,37,17,11,9,48,33,+15,Segunda fase da Copa Libertadores de 2024
6,7,Fluminense (Q),56,37,16,8,13,49,44,+5,Fase de grupos da Copa Libertadores de 2024[a]
7,8,Athletico Paranaense (Q),56,37,14,14,9,51,40,+11,Fase de grupos da Copa Sul-Americana de 2024
8,9,Internacional (Q),52,37,14,10,13,43,44,−1,Fase de grupos da Copa Sul-Americana de 2024
9,10,Fortaleza (Q),51,37,14,9,14,43,43,0,Fase de grupos da Copa Sul-Americana de 2024
10,11,São Paulo (Q),50,37,13,11,13,39,38,+1,Fase de grupos da Copa Libertadores de 2024[b]
11,12,Cuiabá (Q),48,37,13,9,15,37,39,−2,Fase de grupos da Copa Sul-Americana de 2024
12,13,Corinthians (Q),47,37,11,14,12,45,48,−3,Fase de grupos da Copa Sul-Americana de 2024
13,14,Cruzeiro,46,37,11,13,13,34,31,+3,Fase de grupos da Copa Sul-Americana de 2024
14,15,Santos,43,37,11,10,16,38,62,−24,NaN
15,16,Vasco da Gama,42,37,11,9,17,39,50,−11,NaN
16,17,Bahia,41,37,11,8,18,46,52,−6,Rebaixados à Série B de 2024
17,18,Goiás (R),35,37,8,11,18,35,53,−18,Rebaixados à Série B de 2024
18,19,Coritiba (R),30,37,8,6,23,41,71,−30,Rebaixados à Série B de 2024
19,20,América Mineiro (R),24,37,5,9,23,42,80,−38,Rebaixados à Série B de 2024

,Casa \ Fora,AMM,ATP,ATM,BAH,BOT,COR,CTB,CRU,CUI,...,FLU,FOR,GOI,GRE,INT,PAL,RBB,SAN,SPA,VAS
0,América Mineiro,—,2–2,1–1,3–2,1–2,2–0,0–3,0–4,1–2,...,0–3,2–1,0–1,3–4,1–2,1–4,0–2,2–0,2–1,0–1
1,Athletico Paranaense,3–2,—,1–1,2–0,1–0,1–0,3–2,3–3,2–0,...,2–2,1–1,2–0,1–2,2–1,2–2,1–1,3–0,1–1,0–0
2,Atlético Mineiro,2–2,2–1,—,1–0,1–0,0–1,1–2,0–1,1–0,...,2–0,3–1,2–1,3–0,2–0,1–1,1–1,2–0,2–1,1–2
3,Bahia,3–1,1–1,NaN,—,1–2,0–0,3–1,2–2,0–3,...,1–0,2–0,1–1,1–2,1–0,1–0,4–0,1–2,0–1,1–1
4,Botafogo,2–0,1–1,2–0,3–0,—,3–0,4–1,0–0,0–1,...,1–0,2–0,1–1,3–4,3–1,3–4,2–0,1–1,2–1,2–0
5,Corinthians,1–1,1–0,1–1,1–5,1–0,—,3–1,2–1,1–1,...,2–0,1–1,1–1,4–4,1–2,0–0,0–1,1–1,1–1,3–1
6,Coritiba,3–1,2–0,1–2,2–4,1–1,NaN,—,1–0,0–3,...,2–0,0–3,0–1,1–2,0–1,0–2,0–1,0–0,1–1,0–0
7,Cruzeiro,1–1,1–1,0–1,3–0,0–0,1–1,0–0,—,0–1,...,0–2,0–1,0–1,1–0,1–2,a,0–0,2–1,1–0,2–2
8,Cuiabá,2–2,NaN,0–4,1–1,0–1,0–1,1–1,0–0,—,...,3–0,2–1,1–1,1–2,0–2,0–2,1–1,3–0,2–1,0–2
9,Flamengo,1–1,0–3,0–3,1–0,2–3,1–0,3–0,1–1,2–1,...,1–1,2–0,2–0,3–0,0–0,3–0,1–0,1–2,1–1,1–0
10,Fluminense,3–1,2–0,1–1,2–1,0–2,3–3,2–1,1–0,2–0,...,—,1–0,5–3,a,2–0,2–1,2–1,1–0,1–0,1–1
11,Fortaleza,3–2,1–0,2–1,0–0,2–2,2–1,3–1,0–1,0–1,...,4–2,—,1–0,1–1,1–1,2–2,0–3,4–0,0–0,2–0
12,Goiás,NaN,1–1,0–0,4–6,2–1,3–1,1–2,0–1,0–1,...,2–2,1–0,—,1–1,0–0,0–5,0–2,0–1,2–0,1–1
13,Grêmio,3–1,1–2,1–0,1–0,0–2,0–1,5–1,3–0,2–0,...,2–1,0–0,2–1,—,3–1,1–0,3–3,1–0,2–1,1–0
14,Internacional,1–1,0–2,0–2,2–0,NaN,2–2,3–4,0–0,1–2,...,0–0,0–1,1–0,3–2,—,0–0,1–0,7–1,2–1,2–1
15,Palmeiras,4–0,1–0,0–2,1–0,0–1,2–1,3–1,1–0,2–1,...,1–0,3–1,1–0,4–1,3–0,—,1–1,1–2,5–0,1–0
16,Red Bull Bragantino,2–2,2–0,1–2,2–1,2–2,1–0,1–0,0–3,2–0,...,1–0,1–2,2–0,2–0,0–0,2–1,—,2–0,0–0,1–1
17,Santos,3–2,1–1,0–0,3–0,2–2,0–2,2–1,0–3,0–0,...,0–3,NaN,4–3,2–1,1–1,0–0,1–3,—,0–0,4–1
18,São Paulo,3–0,2–1,0–2,0–0,0–0,2–1,2–1,1–0,0–0,...,1–0,1–2,2–1,3–0,2–0,0–2,1–0,4–1,—,4–2
19,Vasco da Gama,2–1,0–2,1–0,0–1,1–0,2–4,5–1,0–1,1–0,...,4–2,1–0,0–1,1–0,1–2,2–2,NaN,0–1,0–0,—

In [15]:
### Padronizando nome.
nomes_times = list(tabela_jogos["Casa \ Fora"])
apelidos = list(tabela_jogos.columns)
apelidos.pop(0)

de_para_times = dict(zip(apelidos, nomes_times))
print(de_para_times)

{'AMM': 'América Mineiro', 'ATP': 'Athletico Paranaense', 'ATM': 'Atlético Mineiro', 'BAH': 'Bahia', 'BOT': 'Botafogo', 'COR': 'Corinthians', 'CTB': 'Coritiba', 'CRU': 'Cruzeiro', 'CUI': 'Cuiabá', 'FLA': 'Flamengo', 'FLU': 'Fluminense', 'FOR': 'Fortaleza', 'GOI': 'Goiás', 'GRE': 'Grêmio', 'INT': 'Internacional', 'PAL': 'Palmeiras', 'RBB': 'Red Bull Bragantino', 'SAN': 'Santos', 'SPA': 'São Paulo', 'VAS': 'Vasco da Gama'}

In [16]:
#organizando tabela

tabela_jogos_ajustada = tabela_jogos.set_index('Casa \ Fora')
tabela_jogos_ajustada = tabela_jogos_ajustada.unstack().reset_index()
tabela_jogos_ajustada = tabela_jogos_ajustada.rename(columns={'level_0': 'Fora', 'Casa \ Fora': 'Casa', 0: "Resultado"})

def ajustar_apelido_time(linha):
    apelido = linha ['Fora']
    nome = de_para_times[apelido]
    return nome

tabela_jogos_ajustada['Fora'] = tabela_jogos_ajustada.apply(ajustar_apelido_time, axis=1)
tabela_jogos_ajustada = tabela_jogos_ajustada[tabela_jogos_ajustada['Fora']!=tabela_jogos_ajustada['Casa']]

display(tabela_jogos_ajustada)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[380 rows x 3 columns]

In [17]:
tabela_jogos_ajustada['Resultado'] = tabela_jogos_ajustada['Resultado'].fillna('a jogar')
tabela_jogos_realizados = tabela_jogos_ajustada[tabela_jogos_ajustada['Resultado'].str.contains('–')]
display(tabela_jogos_realizados)
tabela_jogos_faltantes = tabela_jogos_ajustada[~tabela_jogos_ajustada['Resultado'].str.contains('–')] #~ = oposto que da condição
tabela_jogos_faltantes = tabela_jogos_faltantes.drop(columns=['Resultado']) #deleta a coluna
display(tabela_jogos_faltantes)

                Fora                  Casa Resultado
1    América Mineiro  Athletico Paranaense       3–2
2    América Mineiro      Atlético Mineiro       2–2
3    América Mineiro                 Bahia       3–1
4    América Mineiro              Botafogo       2–0
5    América Mineiro           Corinthians       1–1
..               ...                   ...       ...
394    Vasco da Gama         Internacional       2–1
395    Vasco da Gama             Palmeiras       1–0
396    Vasco da Gama   Red Bull Bragantino       1–1
397    Vasco da Gama                Santos       4–1
398    Vasco da Gama             São Paulo       4–2

[370 rows x 3 columns]

                     Fora           Casa
12        América Mineiro          Goiás
28   Athletico Paranaense         Cuiabá
43       Atlético Mineiro          Bahia
94               Botafogo  Internacional
106           Corinthians       Coritiba
198              Flamengo      São Paulo
237             Fortaleza         Santos
270                Grêmio     Fluminense
307             Palmeiras       Cruzeiro
339   Red Bull Bragantino  Vasco da Gama

In [18]:
tabela_jogos_realizados [['gols_casa', 'gols_fora']] = tabela_jogos_realizados ['Resultado'].str.split('–', expand=True)
tabela_jogos_realizados = tabela_jogos_realizados.drop(columns=['Resultado'])
tabela_jogos_realizados['gols_casa'] = tabela_jogos_realizados['gols_casa'].astype(int)
tabela_jogos_realizados['gols_fora'] = tabela_jogos_realizados['gols_fora'].astype(int)
display(tabela_jogos_realizados)

C:\Users\Bruno\AppData\Local\Temp\ipykernel_6184\566126404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados [['gols_casa', 'gols_fora']] = tabela_jogos_realizados ['Resultado'].str.split('–', expand=True)
C:\Users\Bruno\AppData\Local\Temp\ipykernel_6184\566126404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados [['gols_casa', 'gols_fora']] = tabela_jogos_realizados ['Resultado'].str.split('–', expand=True)

                Fora                  Casa  gols_casa  gols_fora
1    América Mineiro  Athletico Paranaense          3          2
2    América Mineiro      Atlético Mineiro          2          2
3    América Mineiro                 Bahia          3          1
4    América Mineiro              Botafogo          2          0
5    América Mineiro           Corinthians          1          1
..               ...                   ...        ...        ...
394    Vasco da Gama         Internacional          2          1
395    Vasco da Gama             Palmeiras          1          0
396    Vasco da Gama   Red Bull Bragantino          1          1
397    Vasco da Gama                Santos          4          1
398    Vasco da Gama             São Paulo          4          2

[370 rows x 4 columns]

In [19]:
#GROUPBY agrupa a coluna MEAN = calcula a média
media_gols_casa = tabela_jogos_realizados.groupby('Casa').mean(numeric_only=True) 
media_gols_casa = media_gols_casa.rename(columns={'gols_casa': 'gols_feito_casa','gols_fora': 'gols_sofridos_casa'})
display(media_gols_casa)
media_gols_fora = tabela_jogos_realizados.groupby('Fora').mean(numeric_only=True) 
media_gols_fora = media_gols_fora.rename(columns={'gols_casa': 'gols_sofrido_fora','gols_fora': 'gols_feito_fora'})
display(media_gols_fora)
#coluna GOLS_FORA = gols que sofreu dentro de casa

                      gols_feito_casa  gols_sofridos_casa
Casa
América Mineiro              1.105263            2.000000
Athletico Paranaense         1.736842            1.000000
Atlético Mineiro             1.473684            0.842105
Bahia                        1.388889            1.111111
Botafogo                     1.894737            0.894737
Corinthians                  1.368421            1.210526
Coritiba                     0.888889            1.388889
Cruzeiro                     0.722222            0.888889
Cuiabá                       1.111111            1.222222
Flamengo                     1.368421            0.842105
Fluminense                   1.722222            0.833333
Fortaleza                    1.473684            1.052632
Goiás                        1.000000            1.388889
Grêmio                       1.789474            0.842105
Internacional                1.500000            1.111111
Palmeiras                    1.842105            0.631579
Red Bull Bragantino          1.473684            0.736842
Santos                       1.388889            1.444444
São Paulo                    1.555556            0.722222
Vasco da Gama                1.222222            1.222222

                      gols_sofrido_fora  gols_feito_fora
Fora
América Mineiro                2.333333         1.166667
Athletico Paranaense           1.166667         1.000000
Atlético Mineiro               0.666667         1.277778
Bahia                          1.684211         1.105263
Botafogo                       0.944444         1.166667
Corinthians                    1.388889         1.055556
Coritiba                       2.368421         1.263158
Cruzeiro                       0.789474         1.105263
Cuiabá                         0.894737         0.894737
Flamengo                       1.388889         1.666667
Fluminense                     1.526316         0.947368
Fortaleza                      1.277778         0.833333
Goiás                          1.473684         0.894737
Grêmio                         2.111111         1.444444
Internacional                  1.263158         0.842105
Palmeiras                      1.111111         1.555556
Red Bull Bragantino            1.055556         1.111111
Santos                         1.894737         0.684211
São Paulo                      1.315789         0.578947
Vasco da Gama                  1.421053         0.842105

In [20]:
#MERGE = mesclar
tabela_estatisticas = media_gols_casa.merge(media_gols_fora, left_index=True, right_index=True)
tabela_estatisticas = tabela_estatisticas.reset_index()
tabela_estatisticas = tabela_estatisticas.rename(columns={'Casa': 'Time'})
display(tabela_estatisticas)

,Time,gols_feito_casa,gols_sofridos_casa,gols_sofrido_fora,gols_feito_fora
0,América Mineiro,1.105263,2.000000,2.333333,1.166667
1,Athletico Paranaense,1.736842,1.000000,1.166667,1.000000
2,Atlético Mineiro,1.473684,0.842105,0.666667,1.277778
3,Bahia,1.388889,1.111111,1.684211,1.105263
4,Botafogo,1.894737,0.894737,0.944444,1.166667
5,Corinthians,1.368421,1.210526,1.388889,1.055556
6,Coritiba,0.888889,1.388889,2.368421,1.263158
7,Cruzeiro,0.722222,0.888889,0.789474,1.105263
8,Cuiabá,1.111111,1.222222,0.894737,0.894737
9,Flamengo,1.368421,0.842105,1.388889,1.666667
10,Fluminense,1.722222,0.833333,1.526316,0.947368
11,Fortaleza,1.473684,1.052632,1.277778,0.833333
12,Goiás,1.000000,1.388889,1.473684,0.894737
13,Grêmio,1.789474,0.842105,2.111111,1.444444
14,Internacional,1.500000,1.111111,1.263158,0.842105
15,Palmeiras,1.842105,0.631579,1.111111,1.555556
16,Red Bull Bragantino,1.473684,0.736842,1.055556,1.111111
17,Santos,1.388889,1.444444,1.894737,0.684211
18,São Paulo,1.555556,0.722222,1.315789,0.578947
19,Vasco da Gama,1.222222,1.222222,1.421053,0.842105

In [21]:
# time = 50% * 3 + 10 * 1 =

In [22]:
# Distribuição de Poisson
from scipy.stats import poisson

ModuleNotFoundError: No module named 'scipy'

In [ ]:
def calcular_pontuacao_esperada(linha):
    time_casa = linha['Casa']
    time_fora = linha['Fora']

    lambda_casa = (tabela_estatisticas.loc[tabela_estatisticas['Time']==time_casa, 'gols_feito_casa'].iloc[0] 
               * tabela_estatisticas.loc[tabela_estatisticas['Time']==time_fora, 'gols_sofridos_casa'].iloc[0])
#média de gols do da time da casa * média de gols sofridos pelo time de fora de casa

    lambda_fora = (tabela_estatisticas.loc[tabela_estatisticas['Time']==time_fora, 'gols_feito_fora'].iloc[0] 
               * tabela_estatisticas.loc[tabela_estatisticas['Time']==time_casa, 'gols_sofridos_casa'].iloc[0])
#média de gols do da time fora de casa * média de gols sofridos pelo time dentro de casa

    pv_casa = 0
    p_empate = 0
    pv_fora = 0

    for gols_casa in range(8):
        for gols_fora in range(8):
            probabilidade_resultado = poisson.pmf(gols_casa, lambda_casa) * poisson.pmf(gols_fora, lambda_fora)
            if gols_casa == gols_fora:
                p_empate += probabilidade_resultado
            elif gols_casa > gols_fora:
                pv_casa += probabilidade_resultado
            elif gols_casa < gols_fora:
                pv_fora += probabilidade_resultado

#print(pv_casa)
#print(p_empate)
#print(pv_fora)

    ve_casa = pv_casa * 3 + p_empate  
    ve_fora = pv_fora * 3 + p_empate
    linha['pontos_casa'] = ve_casa
    linha['pontos_fora'] = ve_fora
    return linha

In [ ]:
tabela_jogos_faltantes = tabela_jogos_faltantes.apply(calcular_pontuacao_esperada, axis=1)
display(tabela_jogos_faltantes)

                     Fora           Casa  pontos_casa  pontos_fora
12        América Mineiro          Goiás     1.618076     1.162788
28   Athletico Paranaense         Cuiabá     1.277787     1.441299
43       Atlético Mineiro          Bahia     1.193195     1.544281
94               Botafogo  Internacional     1.400955     1.337030
106           Corinthians       Coritiba     1.094270     1.643937
198              Flamengo      São Paulo     1.441174     1.289788
237             Fortaleza         Santos     1.549849     1.192041
270                Grêmio     Fluminense     1.541696     1.199340
307             Palmeiras       Cruzeiro     0.640838     2.082620
339   Red Bull Bragantino  Vasco da Gama     1.023107     1.699511

In [ ]:
def ajustar_nome_time(linha):
    for nome in nomes_times:
        if nome in linha['Equipevde']:
            return nome
    
tabela_classificacao['Time'] = tabela_classificacao.apply(ajustar_nome_time, axis=1)
tabela_classificacao_atualizada = tabela_classificacao[['Time', 'Pts']]
tabela_classificacao_atualizada['Pts'] = tabela_classificacao_atualizada['Pts'].astype(int)

    
display(tabela_classificacao_atualizada)

C:\Users\BrunoPrado\AppData\Local\Temp\ipykernel_47120\698166346.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_classificacao_atualizada['Pts'] = tabela_classificacao_atualizada['Pts'].astype(int)

                    Time  Pts
0              Palmeiras   69
1       Atlético Mineiro   66
2               Flamengo   66
3                 Grêmio   65
4               Botafogo   64
5    Red Bull Bragantino   62
6             Fluminense   56
7   Athletico Paranaense   56
8          Internacional   52
9              Fortaleza   51
10             São Paulo   50
11                Cuiabá   48
12           Corinthians   47
13              Cruzeiro   46
14                Santos   43
15         Vasco da Gama   42
16                 Bahia   41
17                 Goiás   35
18              Coritiba   30
19       América Mineiro   24

In [ ]:
tabela_pontuacao_casa = tabela_jogos_faltantes.groupby('Casa').sum(numeric_only=True)[['pontos_casa']]
tabela_pontuacao_fora = tabela_jogos_faltantes.groupby('Fora').sum(numeric_only=True)[['pontos_fora']]
display(pontuacao_casa)
display(pontuacao_fora)

               pontos_casa
Casa
Bahia             1.193195
Coritiba          1.094270
Cruzeiro          0.640838
Cuiabá            1.277787
Fluminense        1.541696
Goiás             1.618076
Internacional     1.400955
Santos            1.549849
São Paulo         1.441174
Vasco da Gama     1.023107

                      pontos_fora
Fora
América Mineiro          1.162788
Athletico Paranaense     1.441299
Atlético Mineiro         1.544281
Botafogo                 1.337030
Corinthians              1.643937
Flamengo                 1.289788
Fortaleza                1.192041
Grêmio                   1.199340
Palmeiras                2.082620
Red Bull Bragantino      1.699511